@mixin displayCenter($justify, $align) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
}

.iframe_header_container {
  @include displayCenter(space-between, center);
  position: fixed;
  top: 0px;
  z-index: 99;
  width: 100%;
  color: var(--white);
  & * {
    font-family: "Inter", sans-serif;
  }
  .iframe_main_header {
    @include displayCenter(space-between, center);
    width: 33.5%;
    padding: 11.25px 15px;
    .logo {
      cursor: pointer;
    }
    .balance_and_menu {
      @include displayCenter(center, center);
      .current_balance_cont {
        @include displayCenter(center, center);
        gap: 5px;
        padding: 0px 11.25px;
        .current_balance {
          font-size: 14px;
          font-weight: 500;
          color: var(--green);
        }
        .current_balance_currency {
          font-size: 14px;
          font-weight: 500;
        }
      }
    }
  }
  .round_hitory_container {
    @include displayCenter(space-between, center);
    width: 66.5%;
    padding: 11.25px 15px;
    position: relative;
    .full_round_history {
      width: max-content;
      height: 30px;
      overflow: hidden;
      .round_history_text{
        display: none;
      }
    }
  }
  .active {
    position: relative;
    width: 66.5%;
    padding: 11.25px 15px;
    .full_round_history {
      position: absolute;
      width: 97.5%;
      top: -10px;
      height: 120px;
      overflow: auto;
      background-color: var(--more_dark_grey);
      border: 1px solid var(--more_transparent_white);
      border-radius: 15px;
      .round_history_text{
        display: block;
        margin: 10px 0px;
        font-size: 15px;
        font-weight: bold;
      }
    }
    .show_history_cont{
      position: absolute;
      top: 0;
      right: 1.3%;
    }
  }
}
