@mixin displayCenter($justify, $align) {
    display: flex;
    justify-content: $justify;
    align-items: $align;
  }
  
  .aviator_sudio_cont {
    @include displayCenter(flex-start, flex-start);
    position: relative;
    text-align: start;
    gap: 20px;
    padding: 9px 0px;
    width: 100%;
    border-bottom: 1px solid var(--red);
    .plus_minus_cont {
      position: absolute;
      width: 20px;
      .plus {
        font-size: 18px;
        font-weight: bold;
        color: var(--red);
        cursor: pointer;
      }
      .minus {
        font-size: 18px;
        font-weight: bold;
        color: var(--red);
        cursor: pointer;
      }
    }
    .faq_text{
      img {
        width: 80px;
        height: 72.59px;
        margin-left: 20px;
      }
      .aviator_sudio_text {
        font-size: clamp(16.9px, 3vw, 25.2px);
        margin-left: 40px;
        margin-bottom: 10px;
      }
      .hidden_text {
        font-size: clamp(14px, 2vw, 18px);
        margin-left: 20px;
        margin-bottom: 10px;
      }
    }
  }
  