@mixin displayCenter($justify, $align) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
}

.btn {
  cursor: pointer;
}

.btn_demo {
  background: transparent;
  font-size: 18px;
  color: white;
  padding: 11px 35px;
  border: 1.5px solid var(--white);
  border-radius: 30px;
  transition: color 0.3s ease-in-out, border 0.3s ease-in-out;
  &:hover {
    color: var(--red);
    border: 1.5px solid var(--red);
  }
}

.btn_contact {
  padding: clamp(12px, 3vw, 25px) clamp(36px, 8vw, 90px);
  font-size: clamp(14px, 2vw, 18px);
  font-weight: bold;
  border: none;
  border-radius: 35px;
  color: var(--white);
  background-color: var(--red);
  transition: background 0.3s ease-in-out;
  &:hover {
    background-color: var(--darker_red);
  }
}

.btn_menu {
  @include displayCenter(center, center);
  width: 31.6px;
  height: 31.6px;
  border: none;
  border-radius: 50%;
  background-color: var(--dark_grey);
  font-size: 16px;
  color: var(--white);
  &:hover {
    border: 1px solid var(--more_transparent_white);
  }
}

.btn_history {
  padding: 7.5px;
  font-family: "Inter", sans-serif;
  font-size: 11.5px;
  font-weight: bold;
  color: var(--white);
  background: transparent;
  border: none;
  border-radius: 30px;
  &:hover {
    background-color: var(--black);
  }
}

.btn_show_history {
  @include displayCenter(center, center);
  width: 28.26px;
  height: 28.6px;
  font-size: 13.5px;
  color: var(--white);
  border-radius: 50%;
  border: none;
  background-color: var(--dark_grey);
  z-index: 2;
  &:hover {
    border: 1px solid var(--more_transparent_white);
  }
}

.btn_bets {
  width: 100%;
  background: transparent;
  border: none;
  border-radius: 33px;
  padding: 4.25px 11.25px;
  font-size: 11.75px;
  color: var(--light_grey);
  &:hover {
    color: var(--more_light_grey);
  }
}

.btn_previus {
  background-color: var(--dark_grey);
  border: none;
  border-radius: 30px;
  color: var(--white);
  padding: 5px 7.5px;
  font-size: 12px;
  &:hover {
    background-color: var(--light_grey);
  }
}

.btn_weekly {
  @include displayCenter(center, center);
  width: 100%;
  padding: 5.62px 7.5px;
  font-size: 11.25px;
  font-weight: bold;
  color: var(--white);
}
.btn_monthly {
  @include displayCenter(center, center);
  width: 100%;
  padding: 5.62px 7.5px;
  font-size: 11.25px;
  font-weight: bold;
  color: var(--white);
}

.btn_plus {
  @include displayCenter(center, center);
  color: var(--white);
  font-size: 18px;
  background: none;
  border: none;
  outline: none;
}
.btn_minus {
  @include displayCenter(center, center);
  color: var(--white);
  font-size: 18px;
  background: none;
  border: none;
  outline: none;
}
.btn_mount {
  width: 100%;
  padding: 3.5px 7.5px;
  border-radius: 15px;
  color: var(--white);
  background-color: var(--darker_grey);
  border: none;
  outline: none;
  box-shadow: 0px -0.5px 0px 0.5px var(--light_grey);
  &:hover {
    background-color: var(--dark_grey);
  }
}

.btn_bet {
  @include displayCenter(center, center);
  flex-direction: column;
  width: 100%;
  height: 78.6px;
  padding: 11.5px;
  color: var(--white);
  background-color: var(--darker_green);
  border: none;
  border-radius: 10px;
  outline: none;
  box-shadow: 0px 0px 0px 1.5px var(--green);
  &:hover {
    background-color: var(--green);
  }
}

.btn_waiting {
  @include displayCenter(center, center);
  flex-direction: column;
  width: 100%;
  height: 78.6px;
  padding: 11.5px;
  font-size: 18.75px;
  font-weight: bold;
  color: var(--white);
  background-color: var(--red_btn);
  border: none;
  border-radius: 10px;
  outline: none;
  box-shadow: 0px 0px 0px 1.5px var(--red_btn);
  &:hover {
    background-color: var(--light_red_btn);
  }
}

.btn_cancel {
  @include displayCenter(center, center);
  flex-direction: column;
  width: 100%;
  height: 78.6px;
  padding: 11.5px;
  font-size: 18.75px;
  font-weight: bold;
  color: var(--white);
  background-color: var(--red_btn);
  border: none;
  border-radius: 10px;
  outline: none;
  box-shadow: 0px 0px 0px 1.5px var(--red_btn);
  &:hover {
    background-color: var(--light_red_btn);
  }
}

.btn_autobet {
  @include displayCenter(center, center);
  gap: 5px;
  width: 100%;
  padding: 3.75px 7.5px;
  background-color: var(--darker_grey);
  font-size: 12.18px;
  color: var(--white);
  border: none;
  border-radius: 10px;
  outline: none;
  box-shadow: 0px -0.5px 0px 0.5px var(--light_grey);
  &:hover {
    background-color: var(--dark_grey);
  }
}
.btn_autochashout {
  @include displayCenter(center, center);
  gap: 5px;
  width: 100%;
  padding: 3.75px 7.5px;
  background-color: var(--darker_grey);
  font-size: 12.18px;
  color: var(--white);
  border: none;
  border-radius: 10px;
  outline: none;
  box-shadow: 0px -0.5px 0px 0.5px var(--light_grey);
  &:hover {
    background-color: var(--dark_grey);
  }
}

// Responsive

@media screen and (max-width: 850px) {
  .btn_demo {
    padding: 6px 24px;
    font-size: 14px;
  }
  .btn_contact {
    padding: 12px 36px;
    font-size: 14px;
  }
}
