.btn{
    cursor: pointer;
}

.btn_demo{
    background: transparent;
    font-size: 18px;
    color: white;
    padding: 11px 35px;
    border: 1.5px solid var(--white);
    border-radius: 30px;
    transition: color 0.3s ease-in-out, border 0.3s ease-in-out;
    &:hover{
        color: var(--red);
        border: 1.5px solid var(--red);
    }
}

.btn_contact{
    padding: 25px 90px;
    font-size: 18px;
    font-weight: bold;
    border: none;
    border-radius: 35px;
    color: var(--white);
    background-color: var(--red);
    transition: background 0.3s ease-in-out;
    &:hover{
        background-color: var(--darker_red);
    }
}

@media screen and (max-width: 850px) {
    .btn_demo{
        padding: 6px 24px;
        font-size: 14px;
    }
}