@mixin displayCenter($justify, $align) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
}

.all_bets_container {
  width: 100%;
  .bets_and_history {
    @include displayCenter(space-between, center);
    width: 95%;
    margin: 10px auto;
    .total_bet_con {
      @include displayCenter(center, center);
      gap: 3px;
      color: var(--white);
      font-size: 12px;
      font-weight: bold;
    }
    .previus_cont {
      @include displayCenter(center, center);
      gap: 7px;
      .history_icon {
        font-size: 16px;
      }
    }
  }
  .all_bets_header{
    width: 100%;
  }
}
