@mixin displayCenter($justify, $align) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
}

header {
  @include displayCenter(center, center);
  position: fixed;
  top: 0px;
  width: 100%;
  padding: 18px;
  background-color: var(--blue);
  backdrop-filter: blur(5px);
  z-index: 99;
  .header_container {
    @include displayCenter(space-between, center);
    width: 90%;
    max-width: 1080px;
    .logo {
      width: 120px;
      cursor: pointer;
    }
    ul {
      @include displayCenter(space-between, center);
      list-style: none;
      width: 100%;
      max-width: 450px;
      margin: 0px 20px;
      li {
        font-size: 18px;
        cursor: pointer;
        a {
          color: var(--white);
          text-decoration: none;
          transition: color 0.3s ease-in-out;
          &:hover {
            color: var(--red);
          }
        }
      }
    }
  }
}

// Responsive

@media screen and (max-width: 850px) {
  header {
    .header_container {
      ul {
        @include displayCenter(space-evenly, center);
        gap: 5px;
        position: absolute;
        left: 0px;
        bottom: -55px;
        width: 100%;
        max-width: none;
        background-color: var(--header_bg);
        margin: 0px;
        padding: 18px 36px;
        li{
          a{
            font-size: clamp(14px, 2vw, 16px);
          }
        }
      }
    }
  }
}
