@mixin displayCenter($justify, $align) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
}
.button_cont {
  @include displayCenter(flex-start, center);
  position: relative;
  width: 30px;
  height: 18.75px;
  background-color: var(--light_grey);
  border: none;
  border-radius: 30px;
  cursor: pointer;
  .right_side {
    position: absolute;
    width: 15px;
    height: 15px;
    background-color: var(--white);
    border-radius: 50%;
    left: 2px;
  }
  .left_side {
    position: absolute;
    width: 15px;
    height: 15px;
    background-color: var(--white);
    border-radius: 50%;
    right: 2px;
  }
}
.active_mode {
  @include displayCenter(flex-start, center);
  position: relative;
  width: 30px;
  height: 18.75px;
  background-color: var(--green);
  border: none;
  border-radius: 30px;
  cursor: pointer;
}
