@mixin displayCenter($justify, $align) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
}

.about_container {
  width: 100vw;
  position: relative;
  padding-bottom: 200px;
  .radial_cont {
    @include displayCenter(space-between, center);
    z-index: -1;
    width: 100%;
    position: absolute;
    top: 10%;
    .second {
      position: absolute;
      bottom: -500px;
      left: 50%;
    }
  }
  .about_aviator_studio {
    width: 100%;
    text-align: center;
    .concept_text {
      font-size: 41.4px;
      font-weight: 500;
      color: var(--red);
    }
    .electrifying_text {
      font-size: 41.4px;
      font-weight: 500;
      color: var(--white);
    }
    .cart_container {
      display: grid;
      grid-template-columns: repeat(3, auto);
      justify-content: space-between;
      width: 90%;
      max-width: 1080px;
      margin: 100px auto;
      .inline_cart_items {
        @include displayCenter(center, center);
        flex-direction: column;
        width: 190px;
        height: 165px;
        row-gap: 32px;
        padding: 1px;
        .about_cart_icon {
          width: 85px;
          height: 85px;
        }
        .about_cart_text {
          font-size: 21.6px;
          color: var(--white);
        }
      }
    }
  }
  .about_aviator {
    @include displayCenter(center, center);
    width: 100%;
    height: clamp(350px, 45vw, 450px);
    background: linear-gradient(
      to bottom,
      transparent 20%,
      #fff1 20%,
      #fff1 80%,
      transparent 80%
    );
    // margin-bottom: 150px;
    .phones {
      width: clamp(423.67px, 44vw, 523.67px);
      height: clamp(311.53px, 33vw, 369.53px);
    }
    .about_aviator_information {
      width: clamp(350px, 35vw, 400px);
      font-size: clamp(16px, 200px, 21.6px);
      color: var(--white);
    }
  }
}

// Responsive

@media screen and (max-width: 950px) {
  .about_container {
    .about_aviator_studio {
      .cart_container {
        grid-template-columns: repeat(2, 1fr);
        place-items: center;
        row-gap: 20px;
        > :nth-child(3) {
          grid-column: 1 / 3;
          justify-self: center;
        }
        .inline_cart_items {
          .about_cart_text {
            font-size: 21.6px;
          }
        }
      }
    }
  }
}
@media screen and (max-width: 850px) {
  .about_container {
    padding-bottom: 0px;
    .about_aviator {
      flex-direction: column;
      margin-top: 150px;
      text-align: center;
      height: auto;
      background: linear-gradient(
      to bottom,
      #fff1 20%,
      #fff1 80%
    );
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
      .phones {
        width: 90%;
        height: clamp(250px, 70vw, 600px);
      }
      .about_aviator_information {
        width: 90%;
        font-size: 16px;
        margin-bottom: 50px;
      }
    }

    .radial_cont {
      top: 10%;
      .second {
        bottom: -700px;
      }
    }
  }
}
@media screen and (max-width: 750px) {
  .about_container {
    .about_aviator_studio {
      .cart_container {
        grid-template-columns: repeat(3, auto);
        > :nth-child(3) {
          grid-column: 3 / 3;
        }
        .inline_cart_items {
          justify-content: space-evenly;
          width: 140px;
          height: 190px;
          .about_cart_icon {
            width: 82px;
            height: 82px;
          }
          .about_cart_text {
            font-size: 15px;
          }
        }
      }
    }
  }
}
@media screen and (max-width: 650px) {
  .about_container {
    .about_aviator_studio {
      .cart_container {
        grid-template-columns: repeat(2, auto);
        place-items: center;
        > :nth-child(3) {
          grid-column: 1 / 3;
        }
      }
    }
  }
}
@media screen and (max-width: 450px) {
  .about_container {
    .about_aviator_studio {
      .cart_container {
        grid-template-columns: repeat(1, auto);
        justify-content: center;
        > :nth-child(3) {
          grid-column: 1;
        }
      }
    }
  }
}
