@mixin displayCenter($justify, $align) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
}

.concept_container{
    @include displayCenter(center, flex-start);
    gap: 150px;
    width: 100%;
    padding: 150px 50px;
    background-color: white;
    .concept_aviator{
        width: 320px;
        .aviator_official{
            font-size: 37.8px;
            color: var(--red);
            font-weight: 500;
        }
        .aviator_game{
            font-size: 37.8px;
            color: var(--light_black);
            font-weight: 500;
            margin-bottom: 24px;
        }
        .concept_upper_text{
            font-size: 18px;
            margin: 24px 0px;
        }
        .concept_down_text{
            font-size: 18px;
        }
    }
    .concept_icon{
        width: 480.49px;
        height: 434.98px;
        .aviator_stidio_image{
            width: 100%;
            height: 100%;
        }
    }
}