*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

:root{
    --white: #ffffff;
    --black: #000000;
    --red: rgb(189,58,50);
    --bg_color: rgb(10,34,51);
}