* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

:root {
  --white: rgb(232, 232, 232);
  --transparent_white: #fff3;
  --more_transparent_white: #ffffff18;
  --transparent_blue: #2b313d;
  --header_bg: #23303ecc;
  --black: #000000;
  --lighter_black: #0D0D0D;
  --light_black: rgb(36, 36, 36);
  --more_dark_grey: #1a1a1a;
  --dark_grey: #262626;
  --light_grey: #474747;
  --more_light_grey: #c4c4c4;
  --red: rgb(189, 58, 50);
  --transparent_red: rgba(189, 57, 50, 0.44);
  --darker_red: rgb(131, 41, 37);
  --bg_color: rgb(10, 34, 51);
  --blue: #092234cc;
  --green: #49D204;
  --color_bg: linear-gradient(to bottom, #082338 0%, #000000 60%);
}
body {
  background-color: var(--bg_color);
  overflow-x: hidden;
}
